.hidden{
    display: none;
}

.todoBtn{
    border: 0;
    background-color: white;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 40%;

}

#login-form input{
    width: 300px;
    height: 32px;
    font-size: 15px;
    border-color: mediumblue;
    border-radius: 15px;
    outline: none;
    background-color:floralwhite;
    text-align: center;
    font-weight: bold;
    color: black;
}

#login-form button{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border-color:mediumblue;
    border-radius: 15px;
    background-color: floralwhite;
}

#clock {
    position: absolute;
    right: 10%;
}

#weather {
    font-weight: bold;
    padding: 10px;
}